/* 초기화 */
html {overflow-y:scroll;}
body {margin:0 auto; padding:0!important; font-size:13px; letter-spacing:0;
    line-height:1.6em; color:#78787B; background:#FAFBFD;
    font-family: 'Pretendard', 'Noto Sans KR', sans-serif; font-weight:300; word-break:keep-all;}
html, h1, h2, h3, h4, h5, h6, form, fieldset, img {margin:0;padding:0;border:0}
h1, h2, h3, h4, h5, h6 {font-size:1em}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, div {display:block; box-sizing: border-box;}
ul, dl {margin:0;padding:0;list-style:none}
dl dt{font-weight: 500;}
legend {position:absolute;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden}
label, input, button, select {border-radius:4px;}
label, input, button, select, img {vertical-align:middle; outline:none; }
label{margin: 0;}
input:focus,
button:focus {outline:none;}
input, button {margin:0;padding:0;font-size:initial;outline:none;}
button {cursor:pointer;}
input[type=text], input[type=password], input[type=submit], input[type=image], button {border-radius:;font-size:initial;-webkit-appearance:none}
textarea, select {font-size:1em;} 
textarea {border-radius:0;-webkit-appearance:none}
select {margin:0; border-radius:4px;}
p {margin:0;padding:0;word-break:keep-all}
hr {display:none}
pre {overflow-x:scroll;font-size:1.1em}
a, a:link, a:visited {text-decoration:none; cursor: pointer;}
a:hover, a:focus, a:active {text-decoration:none;}


/*버튼*/
.btn{all:unset; display: inline-block ; text-align:center;  border-radius: 5px; padding: 10px 25px; line-height: 1em; margin-right: 14px; cursor: pointer; font-weight: 400; position: relative; box-sizing: border-box;}
.btn:last-child{margin-right: 0;}
.btn:hover{transition: all 0.3s;}

.btn_mini{padding: 5px 10px; font-size: 13px;}
.btn_small{padding: 7px 10px;}
.btn_middle{width: 100%;}
.btn_large{width: 100%; padding: 15px 0; font-size: 1.2em; font-weight: 600;}

.btn_red{background-color: #BC2D1E; color: #fff;}
.btn_red:hover{color: #fff;}
.btn_white{background-color: #fff; color: #484951;}
.btn_white:hover{color: #484951;}
.btn_white2{background-color: #fff; color: #BC2D1E;}
.btn_white2:hover{color: #BC2D1E;}
.btn_black{background-color: #484951; color: #fff;}
.btn_black:hover{color: #fff;}
.btn_gray{background-color: #E8E8E8; color: #373844;}
.btn_gray:hover{color: #373844;}
.btn_line{border: 1px solid #E8E8E8; background-color: #ffffff; color: #484951;}
.btn_line:hover{color: #484951;}

.btn_sdw{box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16);}

.btn_wrap{ text-align: center; padding:28px 0;}

/*박스디자인*/
.box1{display: inline-block; border-radius: 5px; box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.06); background-color: #F9F9F9; overflow: hidden;}
.box2{display: inline-block; border-radius: 5px; box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.06); background-color: #FFFFFF; overflow: hidden;}

/*폼형태*/
input{background-color: #FFFFFF; border: 1px solid #E8E8E8; color: #78787B; padding: 10px 15px; display: block; font-size: 1em!important; line-height: 1.6em!important; opacity: 1; margin-bottom: 12px; width: 100%;}
input:last-child{margin-bottom: 0;}
input::placeholder{opacity: 0.8;}

.file_wrap{display: flex; align-items: center; padding: 10px 0; margin-bottom: 10px;}
.file_wrap dt{font-size: 1.2em; margin-right: 15px; min-width: 148px;}
.file_wrap dd{font-size: 1.1em; color: #373844; width: 100%;
    display:inline-block; width:100%; white-space: nowrap;overflow: hidden; text-overflow: ellipsis; vertical-align:middle;}
.file_wrap dd .btn{margin-right: 10px; padding: 6px 10px;}

/*탭디자인*/
.nav-tabs{font-size: 1.1em;}
.nav-tabs>li>a{border:0; border-radius: 0; color: #555; opacity: 0.6;}
.nav-tabs>li>a:hover{border:0; border-bottom: 2px solid #ddd; opacity: 0.8; background:none;}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover{border:0; border-bottom: 2px solid #BC2D1E; opacity: 1; font-weight: 500;}

/*alert디자인(swal2)*/
.swal2-popup{max-width: 300px; width: calc(100% - 80px); min-width: 280px; font-size: 13px; padding:35px;}
.swal2-title{font-size: 1.15em; margin-bottom: 10px;}
.swal2-html-container{font-size: 1em; line-height: 1.4em; margin: 0; word-break: keep-all;}
.swal2-actions{width: 100%; margin-top:20px; flex-wrap:nowrap;flex-direction: row-reverse;}

.swal2-actions button{width: 100%; border-radius:4px; font-weight: 400;
    line-height: 30px; height: 30px; padding: 0; border:0; margin:0 2px;}

.swal2-actions button:hover,
.swal2-actions button:focus{
    outline: none !important;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}
.swal2-styled.swal2-confirm{background: #BC2D1E; color: #fff; border-radius:4px;}
.swal2-styled.swal2-deny{background:#C4C4C4; color: #fff; border-radius:4px;}

.swal2-actions:not(.swal2-loading) .swal2-styled{opacity: 0.9;}
.swal2-actions:not(.swal2-loading) .swal2-styled:hover{background-image: none; opacity: 1;}

@media screen and (max-width:550px) {
    input{width: 100%;}
}


/*테이블*/
.table table{width: 100%; border-top: 1px solid #707070;}
.table th,
.table td{ padding: 14px; border-bottom: 1px solid #ECECEC;}
.table tr:nth-child(odd) td{background-color: #FBFBFB;}
.table th{font-weight: 600; font-size: 1.1em; text-align: center;}
.table .text_center{text-align: center;}
.table .text_left{text-align: left;}